<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Booking</title>
</head>
<link rel="stylesheet" href="/public/css/welcome.css">
<body>
    <div>
        <img class="logo" src="/public/images/logo.png" alt="logo">
    <a href="/login"><img class ="login" src="/public/images/login button.gif" alt="login"></a>
    <br>
    <br>
    </div>
        
        <center><img src="/public/images/cinema.jpg" alt="cinema" height="40" width="50">WELCOME TO <br><b>MTB</b><img src="/public/images/cinema.jpg" alt="cinema" height="40" width="50"></center>
    <div class="movies">
        <iframe  src="https://www.youtube.com/embed/odM92ap8_c0?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/fgqEyC19538?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/_qyw6LC5pnE?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/4QC-xQwldcQ?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe  src="https://www.youtube.com/embed/UTiXQcrLlv4?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</body>
</html>