<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<link rel="stylesheet" href="/public/css/movies.css">
<body>
    <div class="class0">
        <div class="class1">
            <marquee behavior="scroll" direction="left">
            <img src="/public/images/cinema.jpg" alt="image">
            <span>Welcome to MTB movie ticket booking App</span>
            <img src="/public/images/cinema.jpg" alt="image">
            </marquee>
        </div>
        <div class="class2">
            <img src="/public/images/logo.png" alt="image">
            <nav style="float: right; position: relative; top: 10px; padding-right:10%;">
                <a href="/home" >Home</a>
                <a href="#Movies"style="text-decoration: overline;">Movies</a>
            </nav>
        </div>
    </div>
    <div class="class3">
        <p>Now Playing</p>
    </div>
    <div class="class4">
        <a href="/movie1"><img src="/public/images/playingmovies/movie1.jpeg" alt="movie"></a>
        <a href="/movie2"><img src="/public/images/playingmovies/movie2.jpeg" alt="movie"></a>
        <a href="/movie3"><img src="/public/images/playingmovies/movie6.jpeg" alt="movie"></a>
        <a href="/movie4"><img src="/public/images/playingmovies/movie4.jpeg" alt="movie"></a>
        <a href="/movie5"><img src="/public/images/playingmovies/movie5.jpeg" alt="movie"></a>
        <span><b>&gt</b></span>
    </div>
    <div class="class3">
        <p>Coming Soon</p>
    </div>
    <div class="class4">
        <a href="/"><img src="/public/images/upcomemovies/movie1.jpeg" alt="movie"></a>
        <a href="/"><img src="/public/images/upcomemovies/movie2.jpeg" alt="movie"></a>
        <a href="/"><img src="/public/images/upcomemovies/movie3.jpeg" alt="movie"></a>
        <a href="/"><img src="/public/images/upcomemovies/movie4.jpeg" alt="movie"></a>
        <a href="/"><img src="/public/images/upcomemovies/movie5.jpeg" alt="movie"></a>
        <span><b>&gt</b></span>
    </div>
</body>
</html>