<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<style>
    body{
    background-color: black;
    color: white;
}
.class0{
    position: sticky;
    top: 0%;
}
.class1{
    padding-top: 5px;
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.class1 img{
    height:30px;
    width:50px;
}
.class1 span{
    position: relative;
    bottom: 10px;
}
.class2 nav a:hover{
    text-decoration: overline;
}
.class2{
    background-color:white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.class2 img{
    padding-left: 5%;
    height:40px;
    width: 150px;
}
.class2 nav a{
    color: green;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
    img{
        height:400px;
        width:300px;
    }
    .class5{
        color: blueviolet;
        font-family: 'Courier New', Courier, monospace;
        font-size:20px;
        font-weight:900;
    }
    .class6{
        color: blueviolet;
        font-family: 'Courier New', Courier, monospace;
        font-size:20px;
        font-weight:900;
    }
    button{
        background-color:aqua;
        padding:5px;
        border: none;
    }
    p{
        font-size:20px;
    }
    button{
        cursor: pointer;
    }
</style>
<body>
    <div class="class0">
        <div class="class1">
            <marquee behavior="scroll" direction="left">
            <img src="/public/images/cinema.jpg" alt="image">
            <span>Welcome to MTB movie ticket booking App</span>
            <img src="/public/images/cinema.jpg" alt="image">
            </marquee>
        </div>
        <div class="class2">
            <img src="/public/images/logo.png" alt="image">
            <nav style="float: right; position: relative; top: 10px; padding-right:10%;">
                <a href="/home" >Home</a>
                <a href="#Movies"style="text-decoration: overline;">Movies</a>
            </nav>
        </div>
    </div>
    <div style="display: inline-block;padding-right: 20px;">
        <img src="/public/images/playingmovies/movie2.jpeg" alt="movie">
    </div>
    <span class="class5">Master</span>
    <br>
    <br>
    <span class="class6">Monday, 10 May 2021</span>
    <span style="padding-left: 80px;">
        <a href="/seatbookformaster"><button>2.00 pm</button></a></span>
        <br>
        <p>An alcoholic professor is sent to a juvenile school, where he clashes with a gangster who uses the school children for criminal activities.</p>

</body>
</html>