body{
    background-color: black;
}
.class0{
    position: sticky;
    top: 0%;
}
.class1{
    padding-top: 5px;
    background-color: green;
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.class1 img{
    height:30px;
    width:50px;
}
.class1 span{
    position: relative;
    bottom: 10px;
}
.class2 nav a:hover{
    text-decoration: overline;
}
.class2{
    background-color:white;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.class2 img{
    padding-left: 5%;
    height:40px;
    width: 150px;
}
.class2 nav a{
    color: green;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
.class3{
    padding-left:20px;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: 900;
}
.class4{
    padding-left:30px;
}
.class4 span{
    left:25px;
    position: relative;
    bottom:150px;
    color:white;
    font-size:40px;
    font-weight:900;
}
.class4 a:hover img{

    height:320px;
    width: 255px;
}
.class4 img{
    margin: 10px;
    height:300px;
    width: 250px;
}
