body{
    background-image:url(../images/welcome.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    float: left;
    padding-top: 50px;
    padding-left: 50px;
}
.login{
    float: right;
    height: 100px;
    width: 150px;
    padding-top:50px;
    padding-right: 50px;
}
.movies{
    padding-top:7%;
}

iframe{
    width: 295px;
    height: 280px;
}
center{
    padding-top: 150px;
    color:white;
    font-weight: 900;
    font-size:40px;
}
b{
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    font-weight: 900;
}